footer{
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  background-color: white;
  border: black;
}


footer ul li{
    padding:5px 0px;
}
small{
  color:#878787;
}

.about-us span , .contact span , .info span{
   color: #878787;;
   font-weight: 800;

   display: block;
   text-transform: uppercase;
   font-size: 12px;
   letter-spacing: 3px;
}

.about-us li p , .contact li a , .info li a{
    color:#1d1d1b;
    letter-spacing: 2px;
    text-decoration:none;
    font-size:12px;
}

.info li{
    float:left;
}

.about-us , .contact , .info {
    list-style: none;
    margin-top: 30px;
}





.SocialImg{
  background-color: #878787;

  width: 30px;
}
fa-icon{
  color: #878787;
}


/* ==== BASE STYLES ====*/
/* ==================== GLOBAL STYLES ======================= */

