<footer class="footer bg-dark rounded-top">
  <div class="container text-white">
    <div class="row">

      <div class="col-lg-5 col-md-5 col-sm-4 col-xs-12">
        <ul class="about-us">
          <p><img style="width:200px; height:100px " src="../../assets/img/logo-dekoi.png" alt=""></p>
          <li>
            <br>
            <p>En DEKOI, desarrollamos íntegramente proyectos de decoración, remodelación de espacios, diseño, fabricación e instalación de mobiliario.

              Asesorías en decoración
              Ampliaciones y remodelaciones
              Fabricación de productos en madera nativa
              Proyectos especiales
              Mobiliario</p>
          </li>

        </ul>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <ul class="contact">
          <span>Contáctanos</span>
          <div class="contacto">
            <li>
              <fa-icon [icon]="faPhone"></fa-icon>
              <a> +569 42750783</a>
            </li>

            <li>
              <fa-icon [icon]="faEnvelope"></fa-icon>
              <a href="#"> mail</a>
            </li>

            <li>
              <fa-icon [icon]="faClock"></fa-icon>
              <a href="#"> horario de consultas</a>
            </li>

            <li>
              <fa-icon [icon]="faMapMarkerAlt"></fa-icon>
              <a href="#"> Direccion </a>
            </li>
            <li>
              <a href="#"><img class="SocialImg" src="../../assets/img/facebookSocial.png" alt=""></a>
              <a href="#"><img class="SocialImg" src="../../assets/img/instagramSocial.png" alt=""></a>
            </li>
          </div>

        </ul>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
        <ul class="info">
          <span>Informacion</span>


        </ul>
      </div>


    </div>

  </div>
</footer>
