<footer class="section-footer border-top border-dark padding-y" >
  <div class="container-fluid text-white">
    <div class="row">

      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
        <ul class="about-us">
          <p><img src="assets/img/dekoi-navbar-2.png" alt=""></p>
          <li>
            <br>
            <p>En DEKOI, desarrollamos íntegramente proyectos de decoración, remodelación de espacios, diseño, fabricación e instalación de mobiliario.

              Asesorías en decoración
              Ampliaciones y remodelaciones
              Fabricación de productos en madera nativa
              Proyectos especiales
              Mobiliario</p>
          </li>

        </ul>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <ul class="contact">
          <span style="font-size: 25px; color: #ff5100;">Contacto</span>
          <div class="contacto">
            <li>
              <fa-icon [icon]="faPhone" size="lg"></fa-icon>
              <small> +569 3775 5309</small>
            </li>

            <li>
              <fa-icon [icon]="faEnvelope" size="lg"></fa-icon>
              <small> contacto@dekoi.cl</small>
            </li>

            <li>
              <fa-icon [icon]="faClock" size="lg"></fa-icon>
              <small > Horario de consultas: 
                De Lunes a Viernes de
                9:30 - 18:00</small>
            </li>

        
            <li>
              <a href="https://www.facebook.com/dekoimuebles" ><img class="SocialImg"  src="assets/img/facebookSocial.png" alt=""></a>
              <a href="https://www.instagram.com/dekoi_muebles/"><img class="SocialImg" style="  margin-left: 20px;" src="assets/img/instagramSocial.png" alt=""></a>
            </li>
          </div>

        </ul>
      </div>

  


    </div>

  </div>
</footer>
