
img{
  height: 65px;
}
a{
  color: #878787;
}
a:hover{
  color: #ff5100;
}
nav{
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  background-color: white;
  border: black;
}
.active-list-item {
  color: #ff5100 !important; 
} 

.container-fluid{
  padding: 15px 50px;

}

