<div class="card mx-auto" style="max-width:520px; margin-top:40px;">
  <article class="card-body">
    <header class="mb-4">
      <h4 class="card-title">Registro de usuario</h4>
    </header>
    <form #registroForm="ngForm">
      <div class="form-row">
        <div class="col form-group">
          <label>Nombre</label>
          <input type="text" class="form-control" placeholder="Ricardo" name="nombre" [(ngModel)]="usuario.nombre"
            required minlength="4" #nombre="ngModel">
          <div class="alert alert-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
            <div *ngIf="nombre.errors.required">
              El nombre es requerido
            </div>
            <div *ngIf="nombre.errors.minlength">
              El nombre debe tener 4 caracteres o más
            </div>
          </div>
        </div> <!-- form-group end.// -->
        <div class="col form-group">
          <label>Apellido</label>
          <input type="text" class="form-control" placeholder="Contreras" name="apellido" [(ngModel)]="usuario.apellido"
            required minlength="4" #apellido="ngModel">
          <div class="alert alert-danger" *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)">
            <div *ngIf="apellido.errors.required">
              El apellido es requerido.
            </div>
            <div *ngIf="apellido.errors.minlength">
              El apellido debe tener 4 caracteres o más.
            </div>
          </div>
        </div> <!-- form-group end.// -->
      </div> <!-- form-row end.// -->
      <div class="form-group">
        <label>Email</label>
        <input type="email" class="form-control" placeholder="ejemplo@gmail.com" name="email"
          [(ngModel)]="usuario.email" required email #email="ngModel">
        <small class="form-text text-muted"> Nunca compartiremos tu email con alguien más.</small>
        <div class="alert alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
          <div *ngIf="email.errors.required">
            El email es requerido.
          </div>
          <div *ngIf="email.errors.email">
            Debe tener un formato adecuado.
          </div>
        </div>
      </div> <!-- form-group end.// -->
      <div class="form-group">
        <label>Direccion</label>
        <input type="text" class="form-control" placeholder="Calle de ejemplo 123" name="direccion"
          [(ngModel)]="usuario.direccion" required minlength="4" #direccion="ngModel">
        <div class="alert alert-danger" *ngIf="direccion.invalid && (direccion.dirty || direccion.touched)">
          <div *ngIf="direccion.errors.required">
            La direccion es requerida.
          </div>
          <div *ngIf="direccion.errors.minlength">
            La direccion debe tener 4 caracteres o más.
          </div>
        </div>
      </div> <!-- form-group end.// -->

      <div class="form-group">
        <label>Ciudad</label>
        <input type="text" class="form-control" placeholder="Ciudad" name="ciudad" [(ngModel)]="usuario.ciudad" required
          #ciudad="ngModel">
        <div class="alert alert-danger" *ngIf="ciudad.invalid && (ciudad.dirty || ciudad.touched)">
          <div *ngIf="ciudad.errors.required">
            La Ciudad es requerida.
          </div>
          <div *ngIf="ciudad.errors.minlength">
            La Ciudad debe tener 4 caracteres o más.
          </div>
        </div>
      </div> <!-- form-group end.// -->


      <div class="form-row">
        <div class="form-group col-md-6">
          <label>Teléfono</label>
          <input class="form-control" type="text" placeholder="9 1234 5678" name="numeroTelefono"
            [(ngModel)]="usuario.numeroTelefono" required minlength="9" maxlength="9" #telefono="ngModel">
          <div class="alert alert-danger" *ngIf="telefono.invalid && (telefono.dirty || telefono.touched)">
            <div *ngIf="telefono.errors.required">
              El Teléfono es requerido.
            </div>
            <div *ngIf="telefono.errors.maxlength">
              El Teléfono debe tener 9 caracteres o más.
            </div>
            <div *ngIf="telefono.errors.minlength">
              El Teléfono debe tener 9 caracteres o más.
            </div>
          </div>
        </div> <!-- form-group end.// -->
        <div class="form-group col-md-6">
          <label>Rut</label>
          <input class="form-control" type="text" placeholder="11.111.111-1" name="rut" [(ngModel)]="usuario.rut"
            required #rut="ngModel">
          <div class="alert alert-danger" *ngIf="(rut.dirty || rut.touched) && rut.invalid">
            <div *ngIf="rut.errors.required">
              Rut es requerido
            </div>

          </div>
          <div class="alert alert-danger" *ngIf="(rut.dirty || rut.touched) && !validarRut(usuario.rut)">

            El rut ingresado no es valido


          </div>

        </div> <!-- form-group end.// -->
      </div>

      <div class="form-group">
        <label>Contraseña</label>
        <input class="form-control" type="password" placeholder="Contraseña" name="password"
          [(ngModel)]="usuario.password" required minlength="8" #password="ngModel">
        <div class="alert alert-danger" *ngIf="password.invalid && (password.dirty || password.touched)">
          <div *ngIf="password.errors.required">
            La contraseña es requerida.
          </div>

          <div *ngIf="password.errors.minlength">
            La contraseña debe tener 9 caracteres o más.
          </div>
        </div>
      </div> 

      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block" (click)="crearUsuario()"
          [disabled]="!registroForm.form.valid"> Registrar </button>
      </div> <!-- form-group// -->

    </form>
  </article><!-- card-body.// -->
</div> <!-- card .// -->
<p class="text-center mt-4">¿Ya tiene una cuenta? <a [routerLink]="['/login']">Iniciar Sesion</a></p>
<br><br>
