<div class="container-fluid fade-in" style="padding-top: 60px; padding-bottom: 40px;">
  <div class="row border-bottom border-dark">
    <div class="col-md-2" ></div>
    <div class="col-md-4"style="padding-bottom: 15px;">
      <div class="row">
        <h6 [routerLink]="['/']" style="cursor: pointer;">INICIO</h6>
        <h6 style="margin-left: 2px; margin-right: 2px;"> > </h6>
        <h6 [routerLink]="['/productos']" style="cursor: pointer;">PRODUCTOS</h6>
        <h6 style="margin-left: 2px; margin-right: 2px;"> > </h6>
        <h6  style="cursor: default; color: grey;">CARRITO DE COMPRAS</h6>

      </div>
    </div>


  </div>
</div>

<section class="section-content padding-y fade-in">
  <div class="container">
    <div class="row">
      <aside class="col-lg-9">

        <div *ngIf="carritoProductos==undefined" class="alert alert-warning" role="alert">
          No hay productos en el carrito
        </div>

        <div class="card border border-dark">

          <table *ngIf="carritoProductos!=undefined" class="table table-borderless table-shopping-cart">
            <thead class="text-muted">
              <tr class="small text-uppercase">
                <th scope="col">Producto</th>
                <th scope="col" width="120">Cantidad</th>
                <th scope="col" width="120">Precio</th>
                <th scope="col" class="text-right" width="200"> </th>
              </tr>
            </thead>



            <tbody>



              <tr *ngFor="let carritoProducto of carritoProductos ">
                <td>
                  <figure class="itemside align-items-center">
                    <div class="aside">
                      <!--
                      <img *ngIf="carritoProducto.producto.imagenes.length>0"
                        src="http://localhost:8080/api/uploads/img/{{carritoProducto.producto.imagenes[0].nombre}}"
                        class="img-sm">
                        -->
                        <img *ngIf="carritoProducto.producto.imagenes.length>0"
                        src="{{urlBackend}}/api/uploads/img/{{carritoProducto.producto.imagenes[0].nombre}}"
                        class="img-sm">
                      <img *ngIf="carritoProducto.producto.imagenes.length==0" src="assets/img/no-img.jpg"
                        class="img-sm" alt="...">
                    </div>
                    <figcaption class="info">
                      <a href="#" class="title text-dark">{{carritoProducto.producto.nombre}}</a>
                      <!-- <p class="text-muted small">{{carritoProducto.producto.descripcion}} <br></p> -->
                    </figcaption>
                  </figure>
                </td>
                <td>
                  <input type="text" class="form-control" [value]="carritoProducto.cantidad" disabled>
                </td>
                <td>
                  <div class="price-wrap">
                    <var
                      class="price">{{carritoProducto.producto.valorUnitario*carritoProducto.cantidad | currency:'CLP':'symbol-narrow'}}</var>
                    <small class="text-muted">
                      {{carritoProducto.producto.valorUnitario | currency:'CLP':'symbol-narrow'}} </small>
                  </div> <!-- price-wrap .// -->
                </td>
                <td class="text-right">

                  <a class="btn btn-danger" style="background: #EC320B;"
                    (click)="removeProductoFormCart(carritoProducto)">
                    <fa-icon [icon]="faTrash"></fa-icon> Eliminar
                  </a>
                </td>
              </tr>

            </tbody>
          </table>
          <hr style="border-top: 1px solid black">
          <div class="card-body">
            <h4 class="card-title mb-4">Direccion de envío</h4>

            <form #direccionForm="ngForm">


              <div class="row">
                <div class="form-group col-sm-6">
                  <label for="ciudad">Ciudad*</label>
                  <input type="text" name="ciudad" placeholder="Ejemplo de ciudad" [(ngModel)]="direccion.ciudad"
                    class="form-control" required #ciudad="ngModel" [disabled]="carritoProductos.length==0">
                  <div class="alert alert-danger" *ngIf="ciudad.invalid && (ciudad.dirty || ciudad.touched)">
                    <div *ngIf="ciudad.errors.required">
                      La ciudad es requerida para el envío
                    </div>

                  </div>
                </div>
                <div class="form-group col-sm-6">
                  <label for="departamento">Departamento</label>
                  <input type="text" name="departamento" placeholder="Departamento ejemplo"
                    [(ngModel)]="direccion.departamento" class="form-control" #departamento="ngModel"
                    [disabled]="carritoProductos.length==0">
                </div>
                <div class="form-group col-sm-8">
                  <label for="calle">Calle*</label>
                  <input type="text" name="calle" placeholder="Ejemplo de calle" class="form-control"
                    [(ngModel)]="direccion.calle" required #calle="ngModel" [disabled]="carritoProductos.length==0">
                  <div class="alert alert-danger" *ngIf="calle.invalid && (calle.dirty || calle.touched)">
                    <div *ngIf="calle.errors.required">
                      La calle es requerida para el envío
                    </div>

                  </div>
                </div>
                <div class="form-group col-sm-4">
                  <label for="numero">Numero de calle</label>
                  <input type="text" name="numero" placeholder="123" class="form-control" [(ngModel)]="direccion.numero"
                    required #numero="ngModel" [disabled]="carritoProductos.length==0">
                  <div class="alert alert-danger" *ngIf="numero.invalid && (numero.dirty || numero.touched)">
                    <div *ngIf="numero.errors.required">
                      El numero es requerida para el envío
                    </div>

                  </div>
                </div>

                <div class="card-body border-top">
                  <button type="submit" [routerLink]="['/pago']" (click)="realizarCompra()"
                    class="btn btn-primary float-md-right"
                    [disabled]="!direccionForm.form.valid ? carritoProductos: null ">
                    Realizar Compra <fa-icon [icon]="faRight"></fa-icon>
                  </button>

                  <a [routerLink]="['/productos']" class="btn btn-light">
                    <fa-icon [icon]="faLeft"></fa-icon> Continuar Comprando
                  </a>
                </div> <!-- card-body.// -->
              </div> <!-- row.// -->
            </form>
          </div> <!-- card-body.// -->


        </div> <!-- card.// -->

      </aside> <!-- col.// -->
      <aside class="col-lg-3">


        <div class="card border border-dark">
          <div class="card-body">
            <dl class="dlist-align">
              <dt>Valor total:</dt>
              <dd class="text-right">{{valorCarrito | currency:'CLP':'symbol-narrow'}}</dd>
            </dl>

            <dl class="dlist-align">
              <dt>Total:</dt>
              <dd class="text-right text-dark b"><strong>{{valorCarrito | currency:'CLP':'symbol-narrow'}}</strong></dd>
            </dl>
            <hr style="border-top: 1px solid black">
            <p class="text-center mb-3">

            </p>

            <button type="submit" [routerLink]="['/pago']" (click)="realizarCompra()" class="btn btn-primary btn-block"
              [disabled]="!direccionForm.form.valid"> Realizar Compra </button>


            <a [routerLink]="['/productos']" class="btn btn-light btn-block">Continuar Comprando</a>
          </div> <!-- card-body.// -->
        </div> <!-- card.// -->

      </aside> <!-- col.// -->


    </div>
  </div>
</section>
