<div class="container-fluid fade-in" style="padding-top: 50px; padding-bottom: 40px;">
  <div class="row border-bottom border-dark">
    <div class="col-md-2"></div>
    <div class="col-md-2">
      <div class="row">
        <h6 [routerLink]="['/']" style="cursor: pointer;">INICIO</h6>
        <h6 style="margin-left: 2px; margin-right: 2px;"> > </h6>
        <h6 [routerLink]="['/pago']" style="cursor: pointer;">PAGO</h6>

      </div>
    </div>


  </div>
</div>

<section class="section-content padding-y fade-in ">
  <div class="container">

    <div class="card border border-dark" style="max-width: 640px; max-height: 460px; margin:0 auto;">
      <div class="row no-gutters ">
        <div class="col-md-6">
          <img src="assets/img/dekoi.jpg" style="height: 364px;" class="card-img" alt="...">
        </div>
        <div class="col-md-6">
          <div class="card-body">
            <h5 class="card-title">Datos de pago Dekoi</h5>
            <p>Banco: Banco Santander</p>
            <p>Tipo de cuenta: Cuenta Corriente</p>
            <p>N° cuenta: 00007747897-3</p>
            <p>Nombre: Elizabeth Carolina Martínez Contreras
            </p>
            <p>Rut: 14.292.654-7</p>
            <p>Correo: cmartinezc30@gmail.com</p>
            <p style="font-weight: bold;">Valor total a pagar: {{valorTotal | currency:'CLP':'symbol-narrow'}}</p>
            
          </div>
        </div>
      </div>
      <div class="card-body border-top">
        <button type="submit" [routerLink]="['/usuario']"  class="btn btn-primary float-md-right" >Ir a mis compras <fa-icon [icon]="faRight"></fa-icon></button>

        <a [routerLink]="['/productos']" class="btn btn-light">
         <fa-icon [icon]="faLeft"></fa-icon> Volver a comprar
        </a>

      </div> <!-- card-body.// -->
    </div>



  </div>
</section>
