<div class="container">
  <div class="card bg-dark text-white my-4">
    <div class="card-header">Agregar Producto</div>
      <div class="card-body">

      <form #productoForm="ngForm">
        <div class="form-group row">
          <label for="nombre" class="col-form-label col-sm-2">Nombre del producto</label>
          <div class="column-sm-6">
            <input class="form-control" type="text" name="nombre" value="" [(ngModel)]="producto.nombre" required minlength="4" #nombre="ngModel">
            <div class="alert alert-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
              <div *ngIf="nombre.errors.required">
                El nombre del producto es requerido
              </div>
              <div *ngIf="nombre.errors.minlength">
                El nombre del producto debe tener 4 caracteres o más
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="descripcion" class="col-form-label col-sm-2">Descripcion del producto</label>
          <div class="column-sm-6">
            <input class="form-control" type="text" name="descripcion" value="" [(ngModel)]="producto.descripcion" required minlegth="4" #descripcion="ngModel">
            <div class="alert alert-danger" *ngIf="descripcion.invalid && (descripcion.dirty || descripcion.touched)">
              <div *ngIf="descripcion.errors.required">
                La descripcion del producto es requerido
              </div>
              <div *ngIf="descripcion.errors.minlength">
                La descripcion del producto debe tener 4 caracteres o más
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="valor" class="col-form-label col-sm-2">Valor del producto</label>
          <div class="column-sm-6">
            <input class="form-control" type="number" name="valor" value="" [(ngModel)]="producto.valorUnitario" required #valor="ngModel">

          </div>
        </div>
        <div class="form-group row">
          <label for="stock" class="col-form-label col-sm-2">Cantidad del producto</label>
          <div class="column-sm-6">
            <input class="form-control" type="number" name="stock" value="" [(ngModel)]="producto.stock">
          </div>
        </div>
        <div class="form-group row">
          <label for="codigoDeBarra" class="col-form-label col-sm-2">Codigo de Barra</label>
          <div class="column-sm-6">
            <input class="form-control" type="text" name="codigoDeBarra" value="" [(ngModel)]="producto.codigoDeBarra">
          </div>
        </div>
        <div class="form-group row">
          <label for="categoria" class="col-form-label col-sm-2">Categoria a la que pertenece</label>
          <div class="column-sm-6">
            <select class="form-control" type="text" name="categoria" value="" [(ngModel)]="producto.categoria">
              <option [ngValue]="categoria" *ngFor="let categoria of categorias">{{categoria.nombre}}</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-6">
            <button class="btn btn-primary" role="button" (click)="crearProducto()" *ngIf="!producto.id else elseBlock" [disabled]="!productoForm.form.valid">Crear Producto</button>

            <ng-template #elseBlock>
              <button class="btn btn-primary" role="button" (click)="updateProducto()"  [disabled]="!productoForm.form.valid">Editar Producto</button>
            </ng-template>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
