<app-subir-foto *ngIf="productoId" [productoId] = "productoId"  ></app-subir-foto>
<div class="container">

    <div class="row">

      <div class="col-lg-3">
        <h2 class="my-4">{{producto.nombre}}</h2>
        <div class="list-group">
          <button class="btn btn-success" (click)="abrirModal(productoId);" type="button" name="button">Subir imagen</button>
          <button type="button" class="btn btn-success my-2" [routerLink]="['/producto/formulario', producto.id]" styles="margin-left: 5px;">Editar</button>
          <button type="button" class="btn btn-danger" (click)='delete(producto)' styles="margin-left: 5px;">Eliminar</button>
        </div>
      </div>
      <!-- /.col-lg-3 -->

      <div class="col-lg-6 my-4">

        <div class="card mt-4">

          <img class="card-img-top img-fluid" *ngIf="producto.imagenes.length>0" src="http://localhost:8080/api/uploads/img/{{producto.imagenes[0].nombre}}" alt="">
              <img *ngIf="producto.imagenes.length==0" src="../../assets/img/no-img.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h3 class="card-title">{{producto.nombre}}</h3>
            <h4>{{producto.valorUnitario | currency:'CLP':'symbol-narrow'}}</h4>
            <p class="card-text">{{producto.descripcion}}</p>
            <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
            4.0 stars
          </div>
        </div>
        <!-- /.card -->


        <!-- /.card -->

      </div>
      <!-- /.col-lg-9 -->

    </div>

  </div>


<!-- <app-subir-foto *ngIf="productoId" [productoId] = "productoId"  ></app-subir-foto>
<div class="container">
  <h1>{{producto.nombre}}</h1><button class="btn btn-success" (click)="abrirModal(productoId);" type="button" name="button">Subir imagen</button>
  <div class="row">
    <div class="col-sm mb-4">
      <img *ngIf="producto.imagenes.length>0" src="http://localhost:8080/api/uploads/img/{{producto.imagenes[0].nombre}}" class="img-thumbnail rounded" alt="">
      <br><br>

    </div>

    <div class="detalles-producto">
      <div class="col-sm">
        <h3>{{producto.nombre}}</h3>
        <hr>
        <p style="font-size: x-large">
          {{producto.descripcion}}
        </p>
        <p style="font-size: x-large">
          {{producto.valorUnitario | currency:'CLP':'symbol-narrow'}}
        </p>
        <div class="">
          <div>
            <label for="cantidad-producto">
              <input type="number" step="1" min="1" max name="producto.stock" value="1" placeholder input-mode="numeric">
            </label>
            <button class="btn btn-outline-danger" type="submit" name="button">Añadir al carrito</button>

          </div>



        </div>
      </div>
    </div> -->
