<!-- 

<div class="">
  <div class="container col-md-4" style="margin-top: 30px; float:left; margin-left:120px">
    <h3 style="margin-left:15px;">CATEGORÍAS</h3>
    <ul class="list-group col-md-4">
      <li style="cursor:pointer;"class="list-group-item" *ngFor="let categoria of categorias" (click)="mostrarProductos(categoria)">
        {{ categoria.nombre }}
      </li>
    </ul>
  </div>
  <div class="card-columns" style="margin-top: 70px; float:left;">

    <div class="card" *ngFor="let productos of productosPorCategoria">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{productos.nombre}}</h5>
        <p class="card-text">{{productos.descripcion}}</p>
        <p class="card-text">{{productos.valorUnitario | currency:'CLP':'symbol-narrow'}}</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>

          <button type="button" class="btn btn-primary">Ver más</button>

          <button type="button" class="btn btn-primary">Agregar al carrito</button>


      </div>
    </div>

  </div>
</div> -->
