
<div class="container-fluid fade-in" style="padding-top: 55px; ">

    <div class="row" style="margin-left: 50px;">

        <div class="col-md-2">
            <div class="row">
                <h6 [routerLink]="['/']" style="cursor: pointer;">INICIO</h6>
                <h6 style="margin-left: 2px; margin-right: 2px;"> > </h6>
                <h6  style="cursor: default; color: gray !important;">SOBRE NOSOTROS</h6>
            </div>
        </div>
       
    </div>
    <hr>

    <div class="row border-bottom border-dark empresa">

        <div class="col-md-12 logo">
            <img src="assets/img/dekoi-logo-footer.png" alt="">
        </div>
    </div>
    <div class="row" style="margin-top: 25px; margin-bottom: 45px; margin-left: 45px;">
        <div class="col-sm-8" >
            <h2>Sobre Dekoi</h2>
            <h4>Somos una empresa Chilena perteneciente a la región de Ñuble, localizada en la ciudad de Chillán y nos desempeñamos en el rubro de la arquitectura, diseño, construccion y prestacion de servicios.</h4>
            <h4>Dentro de los diversos servicios que ofrecemos, se encuentran:</h4>
            <li>Asesorias decorativas</li>
            <li>Ampliaciones y Remodelaciones</li>
            <li>Proyectos Mobiliarios</li>
          </div>
          <div class="col-sm-4">
            <div class="container">
            <fa-icon [icon]="faTools" size="9x" style="color: black; padding-left: 150px;"></fa-icon>
            </div>
          </div>
       
    </div>

</div>   