<!-- <section class="section-conten padding-y" style="min-height:84vh">

<div class="card mx-auto fade-in" >
  <div class="card-body">
  <h4 class="card-title mb-4">Sign in</h4>
  <form class="form-signin" method="post">
      <div class="text-center mb-4">
          <img class="mb-4" src="" alt="aquí va el logo" width="72" height="72">
          <h1 class="h3 mb-3 font-weight-normal">DEKOI</h1>
      </div>


      <div class="form-label-group">
          <input [(ngModel)]="usuario.email" type="email" name="email" id="inputEmail"
          class="form-control" placeholder="Ingresa tu correo" required autofocus>
          <label for="inputEmail">Correo</label>
      </div>


      <div class="form-label-group">
          <input [(ngModel)]="usuario.password" name="password" type="password" id="inputPassword"
          class="form-control" placeholder="Ingresa tu contraseña" required>
          <label for="inputPassword">Contraseña</label>
      </div>




      <button class="btn btn-lg btn-primary btn-block" type="submit" (click)=login()>Entrar</button>

      <p class="text-center mt-4">¿Aún no tiene una cuenta? <a [routerLink]="['/registro']">Registrate aqui</a></p>
      <p class="mt-5 mb-3 text-muted text-center">&copy; DEKOI 2020</p>
  </form>
</div>
</div>
</section> -->
<section class="section-conten padding-y bg fade-in" style="min-height:84vh">
<div class="card mx-auto fade-in " style="max-width: 380px; margin-top:100px;">
  <div class="card-body">
    <h4 class="card-title mb-4" style="text-align:center">DEKOI</h4>
    <form class="form-signin" method="post">

      <div class="form-group">
          <label for="inputEmail">Correo</label>
          <input [(ngModel)]="usuario.email" type="email" name="email" id="inputEmail"
          class="form-control" placeholder="Ingresa tu correo" required autofocus>

      </div>
      <div class="form-group">
            <label for="inputPassword">Contraseña</label>
          <input [(ngModel)]="usuario.password" name="password" type="password" id="inputPassword"
          class="form-control" placeholder="Ingresa tu contraseña" required>

      </div>
<!-- form-group// -->

      <div class="form-group">


      </div> <!-- form-group form-check .// -->
      <div class="form-group">
        <button class="btn btn-lg btn-primary btn-block" type="submit" (click)=login()>Entrar</button>


        <p class="mt-5 mb-3 text-muted text-center">&copy; DEKOI 2020</p>
      </div> <!-- form-group// -->
    </form>
  </div> <!-- card-body.// -->
</div> <!-- card .// -->

<p class="text-center mt-4">¿Aún no tiene una cuenta? <a [routerLink]="['/registro']">Registrate aqui</a></p>
<br><br>
</section>
