<div class="container">
  <form class="form-signin" method="post">
      <div class="text-center mb-4">
          <img class="mb-4" src="" alt="aquí va el logo" width="72" height="72">
          <h1 class="h3 mb-3 font-weight-normal">DEKOI</h1>
      </div>

      <!-- INPUT PARA EL CORREO -->
      <div class="form-label-group">
          <input [(ngModel)]="usuario.email" type="email" name="email" id="inputEmail"
          class="form-control" placeholder="Ingresa tu correo" required autofocus>
          <label for="inputEmail">Correo</label>
      </div>

      <!-- INPUT PARA LA CONTRASEÑA -->
      <div class="form-label-group">
          <input [(ngModel)]="usuario.password" name="password" type="password" id="inputPassword"
          class="form-control" placeholder="Ingresa tu contraseña" required>
          <label for="inputPassword">Contraseña</label>
      </div>

      <!-- CASILLA DEL RECUERDAME, SI NO SE CONFIGURA SE PUEDE SACAR -->
      <div class="checkbox mb-3">
          <label>
              <input type="checkbox" value="remember-me"> Recuérdame
          </label>
      </div>

      <button class="btn btn-lg btn-primary btn-block" type="submit" (click)=login()>Entrar</button>

      <p class="mt-5 mb-3 text-muted text-center">&copy; DEKOI 2020</p>
  </form>

</div>
